.header {
  width: 100% !important;
  background: #ffffff;
  padding:5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
}

.search-container {
  position: relative;
  width: 60%;
}

.search-bar {
  width: 100%;
  padding: 5px 35px 10px 10px; /* Space for icon */
  margin: 0px;
  border: 0px;
  border-radius: 5px;
  background-color: #f5f5f5;
  outline: none;
}

.search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: gray;
  font-size: 16px;
  cursor: pointer;
}

/* Responsive - Mobile View */
@media (max-width: 768px) {
  .search-container {
    width: 50%; /* Shorter width */
    margin-left: 25px; /* Left margin */
  }
}


.topbar {
  width: 100vw; /* Full viewport width */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff; /* Adjust as needed */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

